.project-container {
    display: flex;
    justify-content: center;
    height: 80%;
    margin: auto;
    background-color: rgba(91, 102, 248, 0.178);
    
}

.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.inner-container > img {
    width: 400px;
    /* height: 250px; */
}